<div class="container">
    <div class="row align-items-center justify-content-center min-vh-100 gx-0">

        <div class="col-12 col-md-5 col-lg-4">
            <div class="card card-shadow border-0">
                <div class="card-body">
                    <div class="row g-6">
                        <div class="col-12">
                            <div class="text-center">
                                <h3 class="fw-bold mb-2">Sign Up</h3>
                                <p>Follow the easy steps</p>
                            </div>
                        </div>

                        <form (submit)="signup()" #signupForm="ngForm">

                            <div class="col-12 mb-5">
                                <div class="form-floating">
                                    <input type="text" class="form-control" name="name" id="signup-name" ngModel
                                        placeholder="Name">
                                    <label for="signup-name">Name</label>
                                </div>
                                <h6 *ngIf="!validation.name.isNotEmpty && !validation.name.isMinLength"
                                    class="text-danger font-small mx-2">Name is required
                                </h6>
                                <h6 *ngIf="validation.name.isNotEmpty && !validation.name.isMinLength"
                                    class="text-danger font-small mx-2">Name must be atleast 3 characters long
                                </h6>
                            </div>

                            <div class="col-12 mb-5">
                                <div class="form-floating">
                                    <input (change)="emailAlreadyExists = false" type="email" class="form-control"
                                        name="email" id="signup-email" ngModel placeholder="Email">
                                    <label for="signup-email">Email</label>
                                </div>
                                <h6 *ngIf="!validation.email.isNotEmpty && !validation.email.isValid"
                                    class="text-danger font-small mx-2">Email is required
                                </h6>
                                <h6 *ngIf="validation.email.isNotEmpty && !validation.email.isValid"
                                    class="text-danger font-small mx-2">Email is not valid
                                </h6>
                                <h6 *ngIf="emailAlreadyExists" class="text-danger font-small mx-2">Email already exists
                                </h6>
                            </div>

                            <div class="col-12 mb-5">
                                <div class="form-floating">
                                    <input type="password" class="form-control" name="password" ngModel
                                        id="signup-password" placeholder="Password">
                                    <label for="signup-password">Password</label>
                                </div>
                                <h6 *ngIf="!validation.password.isNotEmpty && !validation.password.isMinLength"
                                    class="text-danger font-small mx-2">Password
                                    is
                                    required
                                </h6>
                                <h6 *ngIf="!validation.password.isMinLength && validation.password.isNotEmpty"
                                    class="text-danger font-small mx-2">
                                    Password
                                    must be atleast 8 characters long
                                </h6>
                            </div>


                            <div class="col-12 mb-5">
                                <button class="btn btn-block btn-lg btn-primary w-100" type="submit">Create
                                    Account</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>

            <!-- Text -->
            <div class="text-center mt-8">
                <p>Already have an account? <a href="auth/login">Sign in</a></p>
            </div>

        </div>
    </div> <!-- / .row -->
</div>