<div class="container">
    <div class="row align-items-center justify-content-center min-vh-100 gx-0">

        <div class="col-12 col-md-5 col-lg-4">
            <div class="card card-shadow border-0">
                <div class="card-body">
                    <div class="row g-6">
                        <div class="col-12">
                            <div class="text-center">
                                <h3 class="fw-bold mb-2">Sign In</h3>
                                <p>Login to your account</p>
                            </div>
                        </div>

                        <form #loginForm="ngForm">
                            <div class="col-12 mb-5">
                                <div class="form-floating">
                                    <input type="email" class="form-control" (input)="incorrectEmail = false"
                                        id="signin-email" name="email" ngModel placeholder="Email">
                                    <label for="signin-email">Email</label>
                                </div>
                                <h6 *ngIf="!validation.email.isNotEmpty && !validation.email.isValid"
                                    class="text-danger font-small mx-2">Email is required
                                </h6>
                                <h6 *ngIf="validation.email.isNotEmpty && !validation.email.isValid"
                                    class="text-danger font-small mx-2">Email is not valid
                                </h6>
                                <h6 *ngIf="incorrectEmail" class="text-danger font-small mx-2">Email is incorrect
                                </h6>
                            </div>

                            <div class="col-12 mb-5">
                                <div class="form-floating">
                                    <input type="password" class="form-control" (input)="incorrectPass = false"
                                        name="password" ngModel id="signin-password" placeholder="Password">
                                    <label for="signin-password">Password</label>
                                </div>
                                <h6 *ngIf="!validation.password.isNotEmpty && !validation.password.isMinLength"
                                    class="text-danger font-small mx-2">Password
                                    is
                                    required
                                </h6>
                                <h6 *ngIf="incorrectPass" class="text-danger font-small mx-2">Password is incorrect
                                </h6>
                            </div>

                            <div class="col-12 mb-5">
                                <button (click)="loginUser()" class="btn btn-block btn-lg btn-primary w-100"
                                    type="submit">Sign In</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>

            <!-- Text -->
            <div class="text-center mt-8">
                <p>Don't have an account yet? <a href="auth/signup">Sign up</a></p>
                <p><a href="auth/forgot-password">Forgot Password?</a></p>
            </div>
        </div>
    </div> <!-- / .row -->
</div>